<div>
  <h1>ConteBase</h1>

  <app-lista></app-lista>
  
  <div class="itemCorporativoCian"></div>
  <div class="itemCorporativoMorado"></div>
  <p>Nosotros y nuestros socios almacenamos o accedemos a información en un dispositivo, tales como cookies, y procesamos datos personales, tales como identificadores únicos e información estándar enviada por un dispositivo, para anuncios y contenido personalizados, medición de anuncios y del contenido e información sobre el público, así como para desarrollar y mejorar productos.</p>
  

 <router-outlet></router-outlet>

</div>

